{% extends 'base.html' %}
{% load static %}

{% block libraries %}
    {% if user.is_authenticated %}
        <script src="{% static "portal.js" %}"></script>
    {% endif %}
{% endblock %}

{% block title %}Enforcer Chronocard Reporter{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form>
            <div class="form-group">
                <label for="event-select">Event</label>
                <div style="clear: both;"></div>
                <select id="event-select" name="event" class="chosen-select form-control"
                        data-placeholder="Choose an event...">
                    <option></option>
                </select>
            </div>
            <label for="event-user-select">Event</label>
            <div style="clear: both;"></div>
            <div id="user-select-div" class="form-group" style="display:none">
                <select id="event-user-select" name="event-user" class="chosen-select"
                        data-placeholder="Choose an Enforcer...">
                    <option></option>
                </select>
            </div>
            <div id="user-info" style="display: none">
                <h3>Total Hours: <span id="user-total-hours">0</span></h3>
                <ul id="checkin-list"></ul>
                <div id="add-new-checkin">
                    <select id="event-shift-select" name="event-shift" class="chosen-select"
                            data-placeholder="Copy from shift...">
                        <option></option>
                    </select>
                </div>
            </div>


        </form>

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}